


h1{ 
	color:#2956B2; 
	font-size: 3em;
}

 body { 
	width: 100%; 
	background-repeat: cover;
	position: absolute;
	text-align: center; 
	background-color: #FFA500;
} 

html{ 
	text-align: center; 
}